h1 {
    font-size: 140px;
}

h6 {
    font-size: 50px;
}

.font {
    text-align: center;
    color: #33484b;
    text-transform: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    font-family: "Catamaran script=latin rev=2", sans-serif;
    font-weight: 900;
}

.icon {
    width: 140px;
}