.miniature {
    width: 100px;
    border-radius: 50%;
}

.logo {
    width: 50px;
}

.without-background {
    background: none;
}

.divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(253, 86, 86, 0.15);
}

.background {
    background: #EAF1F5;
}

.block {
    background: white;
    border-radius: 8px;
}

.text-center {
    position: absolute;
    top: 50%;
}

